.form-group {
    margin: 20px;
    .form-control {
        margin: 0px 10px 10px 0px;
        width: 500px;
        display: inline-block;
    }

    .input-btn {
        margin: 0px 0px 5px 0px;
        display: inline-block;
    }
}